/* debug */
.debug .container,
.debug .container-fluid,
.debug-no-height .container,
.debug-no-height .container-fluid {
  border: 1px solid red;
  background: pink;
}

.debug .container [class*="col-"],
.debug .container-fluid [class*="col-"] {
  border: 1px solid blue;
  height: 300px;
}

.debug-no-height .container [class*="col-"],
.debug-no-height .container-fluid [class*="col-"] {
  border: 1px solid blue;
}

.debug-box {
  width: 50px;
  height: 50px;
  background-color: black;
}

/* general */
body {
  /* margin-top: 46px; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 46px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 54px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3, h4, a {
  color: #031b4e;
}

p {
  font-size: 20px;
  color: rgba(3,27,78,.7);
}

a {
  font-size: 14px;
}

.background_white {
  background-color: #ffffff;
}

.background_grey {
  background-color: #f3f5f9;
}

/* header */
/* header_top */
.header_top {
  /* position: fixed;
  top: 0;
  left: 0; */
}

.header_top .row {
  line-height: 45px;
}

.header_top .logo_big,
.header_top .logo_small {
  height: 45px;
}

.header_top .logo_big img,
.header_top .logo_small img {
  height: 80%;
}

.header_top ul {
  margin-bottom: 0;
}

.header_top li {
  display: inline-block;
}

.header_top .left_nav a,
.header_top .right_nav a {
  margin-left: 24px;
  font-weight: 700;
}

.header_top .left_nav a:active,
.header_top .left_nav a:focus,
.header_top .left_nav a:hover,
.header_top .right_nav a:active,
.header_top .right_nav a:focus,
.header_top .right_nav a:hover {
  margin-left: 24px;
  text-decoration: none;
  color: #0069ff;
}

.header_top .right_nav {
  text-align: right;
}

.header_top .btn_sign_up {
  border: 1px solid #0069ff;
  color: #0069ff;
}

.header_top .right_nav .btn_sign_up:active,
.header_top .right_nav .btn_sign_up:focus,
.header_top .right_nav .btn_sign_up:hover {
  background-color: #0069ff;
  color: #ffffff;
}

.header_top .btn_hamburger {
  text-align: right;
}

/* header_bottom */
.header_bottom {
  background-color: green;
}

/* main */
.customers .box_img {
  display: inline-block;
}

.customers .box_img img {
  height: 50px;
}

/* footer */
