/* debug */
.debug .container,
.debug .container-fluid,
.debug-no-height .container,
.debug-no-height .container-fluid {
  border: 1px solid red;
  background: pink;
}

.debug .container [class*="col-"],
.debug .container-fluid [class*="col-"] {
  border: 1px solid blue;
  height: 300px;
}

.debug-no-height .container [class*="col-"],
.debug-no-height .container-fluid [class*="col-"] {
  border: 1px solid blue;
}

.debug-box {
  width: 50px;
  height: 50px;
  background-color: black;
}

/* general */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* header */
/* header_top */
.header_top .logo {
  background-color: red;
  height: 50px;
}

/* header_bottom */
.header_bottom {
  background-color: green;
}

/* main */
.customers .box_img {
  display: inline-block;
}

.customers .box_img img {
  height: 50px;
}

/* footer */
